<body>
    <div class="container">
        <header>
            <h1>Larry the Listmaker</h1>
<%- include ('components/add_todo') %>
        </header> 
        <main>
<%- include ('components/todo_table') %>
<%- include ('components/completed_table') %>
        </main>
        <footer>
<%- include ('footer') %>
        </footer>
    </div>
    <%- include ('components/modal') %>
</body>